[run]
branch = True
source = carball

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    tests/*
    carball/tests/*
    utils/tests/*
    init.py
    setup.py
    command_line.py
